# Default ignored files
/shelf/

# Local .terraform directories
**/.terraform/*
*.lock.hcl

# Crash log files
crash.log

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*
.idea
.DS_Store
